# Gradle
gradle/
.gradle/
build/
!gradle/wrapper/gradle-wrapper.properties

# IntelliJ
.idea/*
!.idea/codeStyles/
!.idea/copyright/
!.idea/fileTemplates/
!.idea/inspectionProfiles/
!.idea/scopes/
!.idea/file.template.settings.xml
!.idea/misc.xml
*.iml

